@mixin flexBox($direcion, $justify-content, $align-items) {
  display: flex;
  flex-direction: $direcion;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin cardHover {
  transition: transform 0.3s ease;
  &:hover {
    transform: translateY(-5px);
  }
}
