.newsModal {
  :global(.modal-content) {
    border-radius: 10px;
    overflow: hidden;
  }
}

.imageContainer {
  position: relative;
  height: 300px;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newsImage {
  border-radius: 5px;
}

.newsInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.category {
  font-size: 0.9rem;
}

.date {
  font-size: 0.9rem;
  color: #6c757d;
  margin-bottom: 0;
}

.newsTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.newsContent {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.readMore {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0056b3;
  }
}
